<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itsm.liquiBaseSample.reporting.persistence.TransactionMapper">

    <resultMap id="transactionRM" type="itsm.liquiBaseSample.domains.Transaction">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <association property="product" javaType="itsm.liquiBaseSample.domains.Product" columnPrefix="product_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <association property="patient" javaType="itsm.liquiBaseSample.domains.Patient" columnPrefix="patient_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>

    <select id="getAll" resultMap="transactionRM">
        select transactions.*,
        product.name,
        patient.name,
        patient.phone
        from transactions
        left join patients patient on transactions.id_patient = patient.id
        left join goods product on transactions.id_product = product.id
    </select>

    <select id="getPeriodicalByState" resultMap="transactionRM">
         select transactions.*,
        product.name as product_name,
        patient.name as patient_name,
        patient.phone as patient_phone
        from transactions
        left join patients patient on transactions.id_patient = patient.id
        left join goods product on transactions.id_product = product.id
        where transactions.created_date between #{periodStartDate} and #{periodEndDate}
        and product.id_state= #{stateId};
    </select>

    <select id="getPeriodical" resultMap="transactionRM">
        select transactions.*,
        product.name as product_name,
        patient.name as patient_name,
        patient.phone as patient_phone
        from transactions
        left join patients patient on transactions.id_patient = patient.id
        left join goods product on transactions.id_product = product.id
        where transactions.created_date between #{periodStartDate} and #{periodEndDate}
    </select>

</mapper>